<div class="main">
  <div class="ulcontainer">
    <ul>
      <li>
        <img src="assets/admin/home.svg" alt="" /><a routerLink="../home">
          Home</a
        >
      </li>
      <li>
        <img src="assets/admin/transection.svg" alt="" /><a
          routerLink="../transection"
        >
          Transection History</a
        >
      </li>
      <li>
        <img src="assets/admin/setting.svg" alt="" /><a routerLink="/setting"
          >Setting</a
        >
      </li>
    </ul>
  </div>
  <div class="contentDiv">
    <div class="card1">
      <div>
        <div>
          <img src="assets/setting/password.svg" alt="" />
          <p><strong>Change Password</strong></p>
        </div>
        <div>
          <img src="assets/setting/contact.svg" alt="" />
          <p>Contact Us</p>
        </div>
        <div>
          <img src="assets/setting/faq.svg" alt="" />
          <p>FAQs</p>
        </div>
        <div>
          <img src="assets/setting/privacy.svg" alt="" />
          <p>Privacy Policy</p>
        </div>
        <hr />
        <div>
          <img src="assets/setting/logOut.svg" alt="" />
          <p>Log Out</p>
        </div>
      </div>
    </div>
    <div class="card2">
      <div class="div1">
        <p>
          <strong><span>Change Password</span></strong>
        </p>
      </div>
      <div class="div1">
        <p><strong>Curent Password</strong></p>
        <input type="text" placeholder="**********" />
      </div>
      <br />
      <div class="div2">
        <div>
          <p><strong>New Password</strong></p>
          <input type="text" placeholder="**********" />
        </div>
        <div>
          <p><strong>Confrim New Password</strong></p>
          <input type="text" placeholder="**********" />
        </div>
      </div>
      <div>
        <button><p>Save Changes</p></button>
      </div>
    </div>
  </div>
</div>
