<div class="imgdiv">
  <div class="smallcircle">
    <img src="assets/welcome/smallcircle.svg" class="chota" alt="" />
  </div>
  <div class="logodiv">
    <div class="logo">
      <p class="oops">OOPs!</p>
      <p class="not-found">404 page not found</p>
    </div>
    <div class="btndiv">
      <a routerLink="../" class="aunibtn"
        ><button class="unibtn">Back to welcome Page</button></a
      >
    </div>
  </div>
  <div class="bigcircle">
    <img src="assets/welcome/bigCircle.svg" alt="" />
  </div>
</div>
<footer class="footer">
  <div class="rights">All Rights Reserved Copyright©2023 Planet Re-Bag</div>
  <div class="contact">
    Contact Us
    <a href="#"><img src="assets/welcome/whatsapp.svg" alt="" /></a>
    <a href="#"><img src="assets/welcome/insta.svg" alt="" /></a>
    <a href="#"><img src="assets/welcome/at.svg" alt="" /></a>
  </div>
</footer>

<router-outlet></router-outlet>
