

.imgdiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.smallcircle {
    margin-top: 250px;
}
.bigcircle {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    height: 300px;
}
.footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    width: 100%;
}
.contact {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 60px;
}
.rights {
    padding-left: 60px;
}
//2 .oops {
//     font-weight: 700;

// }
.logodiv {
    margin-top: 70px;
    .btndiv {
        margin: auto;
        width: 80%;
        .unibtn {
            margin: 90px auto auto auto;
            font-weight: 700;
            background-color: white;
                border: 1px solid #79AA00;
            text-decoration: none;
            color: black;
            font-size: 16px;
                border: 1px solid #79AA00;
                padding: 10px;
                width: 100%;
                border-radius: 12px;
                &:hover {
                    background-color: #79AA00;
                    color: white;
                    transition: 0.2s;
                }
        }

        .guest {
            border: 1px solid #79AA00;
            border-radius: 12px;
            background-color: #79AA00;
            margin: 20px auto auto auto;
            padding: 10px;
            width: 100%;
            color: rgb(255, 255, 255);
            font-weight: 700;
            &:hover {
                background-color: #ffffff;
                color: black;
                transition: 0.2s;
            }
        }
    }
}
.logo {
    font-weight: 700;
    font-size: 40px;
    .oops {
        text-align: center;
        color: #79AA00;
    }
    .not-found {
        text-align: center;
    }
}


.scan {
    text-align: center;
    font-size: 16px;
}
@media only screen and (max-width:1117px) {
    .smallcircle {
        margin-top: 450px;
        width: fit-content;
    }
    .bigcircle {
        height: 300px;
        width: fit-content;
        position: absolute;
        right: 0;
    }
    .logodiv {
        width: 500px;
        img {
            width: 100%;
        }
    }
    .contact {
        padding-right: 30px;
    }
    .rights {
        padding-left: 30px;
    }
}
@media only screen and (max-width:800px) {
    .smallcircle {
        margin-top: 200px;
        width: fit-content;
    }
    .bigcircle {
        height: 300px;
        width: fit-content;
        position: absolute;
        right: 0;
    }
    .logodiv {
        width: 500px;
        img {
            width: 100%;
        }
    }
    .contact {
        padding-right: 30px;
    }
    .rights {
        padding-left: 30px;
    }
}
@media only screen and (max-width:793px) {
    .footer {
        display: flex;
    }  
    .contact {
        margin:0px auto;
    }     
    .rights {
        display:none;
    }
}
@media only screen and (max-width:692px) {
    .chota {
        height: 70px;
    }
    .bigcircle {
        height: 100px;
    }
    .logodiv {
        width: 500px;
        img {
            width: 100%;
        }
    }
    .logodiv {
        margin-top: 100px;
    }
}
@media only screen and (max-width:587px) {
    .logodiv {
        width: 400px;
    }
}
@media only screen and (max-width:451px) {
    .logodiv {
        width: 350px;
    }
}
@media only screen and (max-width:402px) {
    .logodiv {
        width: 300px;
    }
    .scan {
        font-size: 14px;
    }
}