<div class="main">
  <div class="ulcontainer">
    <ul>
      <li>
        <img src="assets/admin/home.svg" alt="" /><a routerLink="../home">
          Home</a
        >
      </li>
      <li>
        <img src="assets/admin/transection.svg" alt="" /><a
          routerLink="../transection"
        >
          Transection History</a
        >
      </li>
      <li>
        <img src="assets/admin/setting.svg" alt="" /><a routerLink="../setting"
          >Setting</a
        >
      </li>
    </ul>
  </div>
  <div class="contentDiv">
    <div class="recentDiv">
      <div class="recently"><p>Recently Scanned Items</p></div>
      <div class="recentDivIcon">
        <div class="all">
          <p>All</p>
        </div>
        <div class="useFlex | bagDiv">
          <img src="assets/admin/bag.svg" alt="" />
          <p>Bag</p>
        </div>
        <div class="useFlex | bagDiv">
          <img src="assets/admin/bottle.svg" alt="" />
          <p>Bottle</p>
        </div>
      </div>
    </div>

    <div>
      <table class="center">
        <tr>
          <th><strong>Item Type</strong></th>
          <th><strong>Returned Qty</strong></th>
          <th><strong>Total Qty</strong></th>
          <th><strong>Radeem Price</strong></th>
          <th><strong>Store Location</strong></th>
          <th><strong>Time & Date</strong></th>
        </tr>
        <tr>
          <td>Bag</td>
          <td>7</td>
          <td>7/10</td>
          <td>AED 5.00</td>
          <td>Al Ain, Abu Dhabi</td>
          <td>10:42 AM | 23/03/2024</td>
        </tr>
        <tr>
          <td>Bag</td>
          <td>7</td>
          <td>7/10</td>
          <td>AED 5.00</td>
          <td>Al Ain, Abu Dhabi</td>
          <td>10:42 AM | 23/03/2024</td>
        </tr>
        <tr>
          <td>Bag</td>
          <td>7</td>
          <td>7/10</td>
          <td>AED 5.00</td>
          <td>Al Ain, Abu Dhabi</td>
          <td>10:42 AM | 23/03/2024</td>
        </tr>
        <tr>
          <td>Bag</td>
          <td>7</td>
          <td>7/10</td>
          <td>AED 5.00</td>
          <td>Al Ain, Abu Dhabi</td>
          <td>10:42 AM | 23/03/2024</td>
        </tr>
        <tr>
          <td>Bag</td>
          <td>7</td>
          <td>7/10</td>
          <td>AED 5.00</td>
          <td>Al Ain, Abu Dhabi</td>
          <td>10:42 AM | 23/03/2024</td>
        </tr>
        <tr>
          <td>Bag</td>
          <td>7</td>
          <td>7/10</td>
          <td>AED 5.00</td>
          <td>Al Ain, Abu Dhabi</td>
          <td>10:42 AM | 23/03/2024</td>
        </tr>
        <tr>
          <td>Bag</td>
          <td>7</td>
          <td>7/10</td>
          <td>AED 5.00</td>
          <td>Al Ain, Abu Dhabi</td>
          <td>10:42 AM | 23/03/2024</td>
        </tr>
        <tr>
          <td>Bag</td>
          <td>7</td>
          <td>7/10</td>
          <td>AED 5.00</td>
          <td>Al Ain, Abu Dhabi</td>
          <td>10:42 AM | 23/03/2024</td>
        </tr>
        <!-- <tr>
          <td>Bag</td>
          <td>7</td>
          <td>7/10</td>
          <td>AED 5.00</td>
          <td>Al Ain, Abu Dhabi</td>
          <td>10:42 AM | 23/03/2024</td>
        </tr>
        <tr>
            <td>Bag</td>
            <td>7</td>
            <td>7/10</td>
            <td>AED 5.00</td>
            <td>Al Ain, Abu Dhabi</td>
            <td>10:42 AM | 23/03/2024</td>
          </tr> -->
      </table>
    </div>
  </div>
</div>
